
.dropdown{
	padding-left: 55em;
}

.header{
	padding-bottom: 10px;
}

.logo{
	padding-left: 10px;
}

#search-box{
	margin-top: 50px;
}

#index-poster-rows{
	margin-top: 70px;
	/*padding-right: 20px;*/

}

#about-f-f{
	text-align: center;
	color: #2FA4E7;
}

/*.col-md-3{
	width: 25%;
	margin-right: auto;
}*/


/*.dropdown{
	padding-left: 55em;
}

.header{
	padding-bottom: 10px;
}

.logo{
	padding-left: 10px;
}*/


#side-column-img{

	margin-top: 30px;
}

#signup-here{

	text-align: center;
	color: #2FA4E7;
}

#signup-btn{
	position: relative;
	left: 50%;
}

#fb-signup{
	text-align: center;
	color: #2FA4E7;
}

#fb-btn{
	position: absolute;
	left: 50%;
}

#signup-custom-search-input{
	margin-top: 10%;
	margin-left: 30px;
}

/*THIS IS FOR THE INDEX PAGE TV SHOW POSTERS*/
/*#index-posters{
	float:left;
}