
.user-commands{
	margin-right: 10px;
}

.header{
	padding-bottom: 10px;
}

.logo{
	padding-left: 10px;
}

#search-box{
	margin-top: 50px;
	margin-left: 0px;
	/*padding-left: 100px;*/
}

#tvshow{
	width: 500px;
	height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
}


#formTvshow{
    width: 475px;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#formSearchBtn{
	border: 50px;
	padding: 11px;
	border-radius: 4px;
}

#searchBtn{
	border: 50px;
	padding: 11px;
	border-radius: 4px;
}



#index-poster-rows{
	margin-top: 70px;
	display: flex;
   	flex-flow: row wrap;
   	justify-content: space-around;
   	/*word-wrap: break-word;*/

}

#index-posters{
	float:left;
}

#title{
	word-wrap: break-word;
}

#about-f-f{
	text-align: center;
	color: #2FA4E7;
}


#side-column-img{

	margin-top: 30px;
}

#signup-here{

	text-align: center;
	color: #2FA4E7;
}

#signup-btn{
	position: relative;
	left: 50%;
}

#fb-signup{
	text-align: center;
	color: #2FA4E7;
}

#fb-btn{
	position: absolute;
	left: 50%;
}

#signup-custom-search-input{
	margin-top: 3%;
	margin-left: 70px;
}

#signup-form{
	margin-top: 8%;
}

#login-here{

	text-align: center;
	color: #2FA4E7;
}

#login-custom-search-input{
	margin-top: 3%;
	margin-left: 70px;
}

#login-form{
	margin-top: 8%;
}

#likes{
	text-align: center;
	margin-top: 50%;
	color: #2FA4E7;
}

#watchlist{
	text-align: center;
	margin-top: 50%;
	color: #2FA4E7;
}

#results{
	margin-top: 10%;
	margin-left: relative;
	color: #2FA4E7;
}

#popular{
	margin-top: 10%;
	margin-left: relative;
	color: #2FA4E7;
}

#highly-rated{
	margin-top: 10%;
	margin-left: relative;
	color: #2FA4E7;
}

#favorite{
	border: 0px;
	padding: 0px;
	outline: none;
	/*background-color: transparent;*/
}

#watchMe{
	border: 0px;
	padding: 0px;
}

#rating{
	margin-right: 10px;
}

/*THIS IS FOR THE INDEX PAGE TV SHOW POSTERS*/
/*#index-posters{
	float:left;
}