
.user-commands{
	margin-right: 10px;
}

.header{
	padding-bottom: 10px;
}

.logo{
	padding-left: 10px;
}

#search-box{
	margin-top: 50px;
	margin-left: 30%;
/*	padding: 10px;*/
}

#index-poster-rows{
	margin-top: 70px;
	display: flex;
   	flex-wrap: wrap;

}

#index-posters{
	float:left;
}

#about-f-f{
	text-align: center;
	color: #2FA4E7;
}


#side-column-img{

	margin-top: 30px;
}

#signup-here{

	text-align: center;
	color: #2FA4E7;
}

#signup-btn{
	position: relative;
	left: 50%;
}

#fb-signup{
	text-align: center;
	color: #2FA4E7;
}

#fb-btn{
	position: absolute;
	left: 50%;
}

#signup-custom-search-input{
	margin-top: 3%;
	margin-left: 70px;
}

#signup-form{
	margin-top: 8%;
}

#login-here{

	text-align: center;
	color: #2FA4E7;
}

#login-custom-search-input{
	margin-top: 3%;
	margin-left: 70px;
}

#login-form{
	margin-top: 8%;
}

#likes{
	text-align: center;
	margin-top: 50%;
	color: #2FA4E7;
}

#watchlist{
	text-align: center;
	margin-top: 50%;
	color: #2FA4E7;
}

#results{
	margin-top: 10%;
	margin-left: relative;
	color: #2FA4E7;
}



/*THIS IS FOR THE INDEX PAGE TV SHOW POSTERS*/
/*#index-posters{
	float:left;
}