<!DOCTYPE html>
<html lang="en">
<head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	   <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
	  <meta charset="UTF-8">
	  <title>Edit TV Show</title>
</head>
<body>
	<div class="container-fluid">
		<h1> Edit an TV Show</h1>
		<h4>TV Show id: <%= %></h4>
		<form action="/tvshows/<%= %>?_method=PUT" method="POST">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" value="<%=  %>">
			<input type="submit" value="Edit TV Show">
		</form>
	</div>
</body>
</html>