<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8">
  <title>Search Page</title>
</head>
<body>
  	<h1> Search your TV Show </h1>
      <div>
       
        <div>
          <form action="/tvshows/search" method="get">
            <label for="tvshow"></label>
            <input type="text" name="tvshow" placeholder="Enter TV Show Name" required>
            <input type="submit" value="submit">
            <h3>TV Show Search Results:</h3>
          </form>
          <div id="q-results" class="results"></div>
        </div>
        <hr>
      </div>
      <div id='albums-and-tracks'></div>
  </body>
</html>