<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign UP</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
      <div class='header'>
          <h1><a href="/">faveFlix</a><img class='logo' src="https://image.freepik.com/free-icon/eye-outline-variant-with-heart-shaped-center_318-47710.jpg" alt="heart-eye" style="width:50px;height:50px;"></h1>
      </div>
      <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <!-- <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> -->
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="#">Popular</a>
                  </li>
                  <li><a href="#">Highly Rated</a>
                  </li>
              </ul>
                  <ul class='nav navbar-nav navbar-right'>
                    <li><a href="#">Profile</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                    <li><a href="#">Signup</a>
                    </li>
                  </ul>     
            </div>
      </nav>

        <div class='col-md-3' id='poster-streams'>
           <% topRates.forEach(function(topRate){ %>
            <div>
              <img id ='index-posters-signup'src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="300" width="250" >
              <h4> <%= topRate.name %></h4>
              <h6> Rating: <%= topRate.vote_average %></h6>
            </div>
           <% }) %>
        </div>
        <div class='col-md-6' id="signup-custom-search-input">
            <div class='input-group' id='search-box'>
                <form action="/tvshows/search" method="get">
                  <label for="tvshow"></label>
                  <input type="text" name="tvshow" placeholder="Enter TV Show Name" required>
                  <input type="submit" value="submit">
                </form>
                <div id="q-results" class="results"></div>
            </div>
          <br>
          <br>
             <form id='signup-form'>
                <h4 id='signup-here'> SIGN UP USING EMAIL: </h4>
                <br>
                <div class="form-group">
                  <label for="exampleInputName2">Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" id='signup-btn'>Submit</button>
              </form>
            <br>
            <h4 id='fb-signup'> SIGN UP USING FACEBOOK: </h4>
            <img id='fb-btn' src='http://www.bon-app.com/bonapp2/images/social-media/facebook-signup-button.png'>
        </div>
      </div>
    </div>
  </body>
</html>





<!-- WHAT I ACTUALLY NEED TO DO -->
<!-- ONE COL 3 AND ONE COL 6 and then rows within each col 3 -->
